<mat-form-field
  [formGroup]="group"
  [appearance]="theme === 'focused' ? 'outline' : 'legacy'"
  [ngClass]="['using-component', theme]"
>
  <mat-label *ngIf="theme === 'material'">{{ label[theme] }}</mat-label>
  <span *ngIf="theme === 'focused'" matPrefix>{{ label[theme] }}</span>
  <mat-select [formControl]="usingControl"
              [panelClass]="classes"
              [(value)]="using">
    <mat-select-trigger *ngIf="theme === 'focused'">
      {{ using.methodName }}
    </mat-select-trigger>
    <mat-select-trigger *ngIf="theme === 'material'">
      {{ using.method }}
    </mat-select-trigger>
    <mat-option *ngFor="let method of methods" [value]="method">
      {{ method.method }}
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="isHintShown">Please select a card account</mat-hint>
  <mat-hint *ngIf="isValueHintShown"
    >{{ using.itemName }} - {{ using.itemNumber }}</mat-hint
  >
  <mat-error *ngIf="usingControl.hasError('required')"
    >Please choose a pay method</mat-error
  >
</mat-form-field>
