<header [ngClass]="{ [context]: true }">
  <app-logo [context]="context"></app-logo>
  <nav>
    <app-user-menu *ngIf="context === 'bmxn'"></app-user-menu>
    <button mat-button *ngIf="context === 'bmx4'">Logout <mat-icon matSuffix>close</mat-icon></button>
    <app-poc-menu
      [context]="context"
      [theme]="theme"
      (contextChanged)="contextChanged($event)"
      (themeChanged)="themeChanged($event)"
    ></app-poc-menu>
  </nav>
</header>
<main [ngClass]="{ [context]: true }">
  <app-bmx4 *ngIf="context === 'bmx4'" [theme]="theme"></app-bmx4>
  <app-bmxn *ngIf="context === 'bmxn'" [theme]="theme"></app-bmxn>
</main>
<footer [ngClass]="{ [context]: true }"></footer>
