<header [ngClass]="classes">
  <app-logo [context]="context"></app-logo>
  <nav>
    <app-user-menu *ngIf="context === 'bmxn'"></app-user-menu>
    <button mat-button *ngIf="context === 'bmx4'">Logout <mat-icon matSuffix>close</mat-icon></button>
    <app-poc-menu
      [context]="context"
      [theme]="theme"
      (contextChanged)="contextChanged($event)"
      (themeChanged)="themeChanged($event)"
    ></app-poc-menu>
  </nav>
</header>
<main [ngClass]="classes">
  <app-bmx4 *ngIf="context === 'bmx4'" [theme]="theme"></app-bmx4>
  <app-bmxn *ngIf="context === 'bmxn'" [theme]="theme"></app-bmxn>
</main>
<footer [ngClass]="classes">
  <ng-container [ngSwitch]="context">
    <ng-container *ngSwitchCase="bmx4">
      <p>The information you submit is secure.</p>
      <p class="powered-by"><span>powered by</span><img src="assets/images/billmatrix_logo.png" /></p>
    </ng-container>
    <ng-container *ngSwitchCase="bmxn">
      <p><a href="#">Privacy Policy</a></p>
    </ng-container>
  </ng-container>
</footer>
