<fieldset role="group" class="container">
  <div class="row">
    <select
      class="col-4"
      [value]="theme"
      (change)="themeChanged($event.target.value)"
    >
      <option selected value="material">Material</option>
      <option value="focused">Focused</option>
    </select>
  </div>
  <div class="row">
    <app-pay
      [theme]="theme"
      (selected)="paySelected($event)"
      class="col-lg-4"
    ></app-pay>
    <app-on
      [theme]="theme"
      (selected)="onSelected($event)"
      class="col-lg-4"
    ></app-on>
    <app-using
      [theme]="theme"
      (selected)="usingSelected($event)"
      class="col-lg-4"
    ></app-using>
  </div>
</fieldset>
