/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  width: 100%;
  h4,
  h5 {
    font-size: 1.5em;
    margin-right: 1ch;
    flex: 0 0 auto;
  }
  app-logo {
    flex: 1 1 auto;
  }
  nav {
    flex: 0 0 auto;
    button {
      background: none;
      border: none;
      border-radius: 0;
    }
  }
}

.app-menu .active {
  color: white;
  background-color: orange;
  font-weight: bold;
}

app-pay-on-using .mat-form-field {
  width: 100%;
}

.focused.mat-form-field-appearance-outline {
  .mat-form-field-flex {
    height: 73px;
  }
  .mat-form-field-prefix {
    top: 0;
    margin-right: 0.5ch;
  }
  .mat-form-field-infix {
    padding: 10px;
  }
  .mat-form-field-suffix {
    top: 0.5em;
  }
  .mat-form-field-subscript-wrapper {
    top: calc(100% - 4em);
  }
  .mat-form-field-label {
    color: black;
  }
  .mat-select + .mat-form-field-label-wrapper .mat-form-field-label {
    margin-top: -0.5em;
  }
  .mat-select.mat-select-invalid .mat-select-arrow {
    color: black;
  }
  .mat-select-arrow-wrapper {
    transform: translateY(-10%);
  }
  .mat-select-arrow {
    color: black;
    font-size: 150%;
    line-height: 1.125;
    width: 1em;
    background-repeat: no-repeat;
    display: inline-block;
    fill: black;
    height: 24px;
    border: none;
    margin: auto;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}
button[mat-icon-button] {
  background: none;
  border-style: none;
  border-radius: 0;
}
.mat-autocomplete-panel.pay-component {
  .mat-option-text {
    display: flex;
    flex-flow: column nowrap;
    span {
      line-height: 1.4;
    }
  }
  .amount {
    color: black;
    flex: 0 0 auto;
  }
  .name {
    color: currentColor;
    font-size: 90%;
  }
}
.material.pay-component {
  .mat-form-field-infix {
    display: inline-table;
  }
  &.mat-form-field-invalid .mat-select-arrow {
    color: #f44336;
  }
}

.mat-calendar-body-cell::after {
  content: '';
}
.mat-calendar-body-cell.minimum-due-date:hover::after,
.mat-calendar-body-cell.total-due-date:hover::after {
  display: block;
  position: absolute;
  left: 100%;
  width: 120px;
  border: 1px solid #aaa;
  height: 3ch;
  padding-top: 1.5ch;
  margin-top: -1.5ch;
  background: white;
  box-shadow: 2px 2px 2px -1px #aaa;
  z-index: 1;
}

.mat-calendar-body-cell.minimum-due-date:hover::after {
    content: 'Minimum Due Date';
}

.mat-calendar-body-cell.minimum-due-date:not(.mat-calendar-body-disabled) {
  > .mat-calendar-body-cell-content {
    background-color: goldenrod;
  }
  &:hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background-color: yellow;
  }
}

.mat-calendar-body-cell.total-due-date:hover::after {
  content: 'Total Due Date';
}

.mat-calendar-body-cell.total-due-date:not(.mat-calendar-body-disabled) {
  > .mat-calendar-body-cell-content {
    background-color: firebrick;
    color: white;
  }
  &:hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background-color: red;
    color: white;
  }
}

/* Context-specific styles */
.bmx4 {
  margin: 0 auto;
  border: 1px solid #dfdcdc;
}

header.bmx4 {
  height: 10vh;
  max-height: 6em;
  overflow: hidden;

  nav {
    display: flex;

    > button {
      display: flex;
    }
  }

  app-logo {
    max-height: 6em;
  }

  h5 {
    margin: 2vh 0 2vh 1vw;
    height: 6vh;
  }

  img {
    height: 6vh;
  }
}
main.bmx4 {
  padding: 25vh 0;
}
footer.bmx4 {
  font-size: small;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 10vh;

  p {
    margin: 2vh 1vw;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .powered-by span {
    display: block;
    text-align: right;
  }
}

.bmxn {
  margin: 0 auto;
  .mat-form-field.mat-form-field-appearance-outline {
    font-family: 'Open Sans', sans-serif;
.mat-form-field-subscript-wrapper {
    font-size: 104%;
    top: auto;
    bottom: 1.8em;
    padding-left: 0.75em;
}
    .mat-form-field-prefix,
    .mat-form-field-infix {
      font-weight: 700;
      font-size: 22px;
    }
    .mat-form-field-infix {
      margin-left: 0;
      padding-left: 0;
      padding-top: 0;
    }
    .mat-form-field-prefix {
      top: -1px;
    }
    &.pay-component {
      .mat-form-field-prefix {
        margin-right: 0;
      }
    }
    .mat-select {
      font-family: 'Open Sans', sans-serif;
    }
  }
}
header.bmxn {
  position: sticky;
  height: 10vh;
  h5 {
    padding: 2vh 0;
  }
}
main.bmxn {
  padding: 25vh 0;
}
footer.bmxn {
  height: 10vh;
}
.mat-select-panel.bmxn {
  font-family: 'Open Sans', sans-serif;
  .mat-option {
    font-family: 'Open Sans', sans-serif;
  }
}
