/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  width: 100%;
  h4,
  h5 {
    font-size: 1.5em;
    margin-right: 1ch;
    flex: 0 0 auto;
  }
  app-logo {
    flex: 1 1 auto;
  }
  nav {
    flex: 0 0 auto;
    button {
      background: none;
      border: none;
      border-radius: 0;
    }
  }
}

.app-menu .active {
  color: white;
  background-color: orange;
  font-weight: bold;
}

app-pay-on-using .mat-form-field {
  width: 100%;
}

.focused.mat-form-field-appearance-outline {
  .mat-form-field-flex {
    max-height: 63px;
  }
  input {
    font-weight: normal;
  }
  .mat-form-field-prefix {
    top: 0;
    margin-right: 0.5ch;
    font-weight: normal;
  }
  .mat-form-field-infix {
    padding: 0.5em 0 1.5em 0;
  }
  .mat-form-field-suffix {
    top: 0.5em;
  }
  .mat-form-field-subscript-wrapper {
    top: calc(100% - 4em);
  }
  .mat-form-field-label {
    color: black;
    font-weight: normal;
  }
  .mat-select + .mat-form-field-label-wrapper .mat-form-field-label {
    margin-top: -0.5em;
  }
  .mat-select.mat-select-invalid .mat-select-arrow {
    color: black;
  }
  .mat-select-arrow-wrapper {
    transform: translateY(-10%);
  }
  .mat-select-arrow {
    color: black;
    font-size: 150%;
    line-height: 1.125;
    width: 1em;
    background-repeat: no-repeat;
    display: inline-block;
    fill: black;
    height: 24px;
    border: none;
    margin: auto;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .mat-select-value {
    font-weight: normal;
  }
}
button[mat-icon-button] {
  background: none;
  border-style: none;
  border-radius: 0;
}
.mat-autocomplete-panel.pay {
  .mat-option-text {
    display: flex;
    flex-flow: column nowrap;
    span {
      line-height: 1.4;
    }
  }
  .amount {
    color: black;
    flex: 0 0 auto;
  }
  .name {
    color: currentColor;
    font-size: 90%;
  }
}
.material.pay-component {
  .mat-form-field-infix {
    display: inline-table;
  }
  &.mat-form-field-invalid .mat-select-arrow {
    color: #f44336;
  }
}

/* Context-specific styles */
.bmx4 {
  margin: 0 auto;
  max-width: 980px;
  border: 1px solid #dfdcdc;
}

header.bmx4 {
  height: 10vh;
  max-height: 6em;
  overflow: hidden;

  nav {
    display: flex;

    > button {
      display: flex;
    }
  }

  app-logo {
    max-height: 6em;
  }

  h5 {
    margin: 15px 0 15px 25px;
    height: 64px;
  }

  img {
    height: 64px;
  }
}
main.bmx4 {
  padding: 25vh 0;
  height: 80vh;
}
footer.bmx4 {
  font-size: small;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 10vh;

  p {
    margin: 25px;
  }

  .powered-by span {
    display: block;
    text-align: right;
  }
}

.bmxn {
  width: 1170px;
}
header.bmxn {
  position: sticky;
  height: 10vh;
}
main.bmxn {
  height: 80vh;
}
footer.bmxn {
  height: 10vh;
}
