<mat-form-field
  [formGroup]="group"
  [appearance]="theme === 'focused' ? 'outline' : 'legacy'"
  [ngClass]="['pay-component', theme]"
>
  <span *ngIf="theme === 'focused'" matPrefix>Pay&nbsp;$</span>
  <input
    matInput
    [formControl]="amountControl"
    [placeholder]="label[theme]"
    type="number"
    step="0.01"
    pattern="^([\d\,]+|0{1})(\.\d{1,2})?$"
    [matAutocomplete]="auto"
    (input)="valueChanged($event)"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    class="pay"
    (optionSelected)="paySelected($event)"
  >
    <mat-option *ngFor="let amount of amounts" [value]="amount.amount">
      <span class="amount">{{ amount.amount | currency }}</span>
      <span class="name">{{ amount.name }}</span>
    </mat-option>
  </mat-autocomplete>
  <button
    *ngIf="theme === 'focused'"
    mat-icon-button
    matSuffix
    aria-label="downward pointing icon indicating use for showing list"
  >
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <div *ngIf="theme === 'material'" class="mat-select-arrow-wrapper">
    <div class="mat-select-arrow"></div>
  </div>
  <mat-hint *ngIf="isHintShown">Please select or enter a pay amount</mat-hint>
  <mat-hint *ngIf="isPaySelected">{{ pay.name }}</mat-hint>
  <mat-error
    *ngIf="
      amountControl.hasError('pattern') || amountControl.hasError('required')
    "
    >Please enter a dollar amount with two decimals</mat-error
  >
</mat-form-field>
